<html>
	<head>
		<title>Random Movie Trailer</title>
		<link rel="stylesheet" type="text/css" href="style.css">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body>
		<div id="github-ribbon"><a href="https://github.com/grochadc/random-movie-trailer"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a></div>


		<div id="title">
			<div class="jumbotron text-center">
				<h1>Random Movie Trailer</h1>
			</div>
		</div>
		<div id="container">
			<div id="trailer-container">
				<div>
					<iframe width="560" height="315" src="{{trailerURL}}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div id="movie-information">
				<div id="movie-title">
					<h1><span class="glyphicon glyphicon-film"></span> {{title}}</h1>
				</div>
				<div id="scores"><p>Critics Score: {{criticsScore}} Users Score: {{usersScore}}</p></div>
				{{#if imdbID}}
				<p><a href="https://www.imdb.com/title/{{imdbID}}" target="_blank"> IMDB </a></p>
				{{/if}}
			</div>
		</div>
		<div class="footer">
			<p class="reload">The video finished playing? <a href=".">Click here</a> to reload the page and get a new one.</p>
			<p class="note"> Note: Scores are based on the Rotten Tomatoes Certified Fresh <a href="https://www.rottentomatoes.com/browse/cf-dvd-streaming-all">page</a>.</p>
		</div>
	</body>
</html>
